.calendar-day {
    height: 155px;
    border: 1px solid gray;
    margin: 1px;
    padding: 5px;
}

.day-number {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.day-number:hover {
    background-color: #d4d4d4aa;
}

.moreButton, .day-number {
    cursor: pointer;
}

input {
    width: 300px;
    margin: 8px 0;
}

.remainders-list-button-container {
    margin-top: 10px;
    float: right;
}

.remainders-list-button-container > button {
    margin-right: 0;
}

button {
    margin-right: 10px;
}


#remainder-color {
    margin-top: 10px;
    margin-bottom: 20px;
}

#modal, #remainders-list {
    width: 320px;
    margin: auto;
    height: 250px;
}

#remainders-list {
    height: fit-content;
}