.calendar-title {
    background-color: #001f3f;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.monthTile {
    height: 120px;
    background: lavender;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightblue;
    cursor: pointer;
    flex-grow: 1;
    width: 31%;
}

.monthTile:hover {
    background-color: lightblue;
}

.months-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
}

.calendar-description {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 30px 0 30px 10%;
}

.change-month {
    margin: 0 50px;
}