.description {
    margin: 5px 0.5px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

.lavender {
    background-color: lavender;
}

.mistyRose {
    background-color: mistyrose;
}

.lightBlue {
    background-color: lightblue;
}