.calendar-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 230px;
  }

  .moreButton {
    margin: 5px 0.5px;
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
  }

  h2 {
    margin-left: 6%;
  }